server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/foerderantrag_db
    username: user
    password: foerderantrag
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate.format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: daniel.hirschmugl@gmail.com   # <- hier deine Gmail-Adresse eintragen
    password: lxbb hhto takh llno           # <- App-Passwort als ENV-Variable
    from: "daniel.hirschmugl@gmail.com"     # <- gleiche Adresse wie oben
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
